absl-py==1.1.0
addict==2.4.0
anyio==3.6.1
apptools==5.2.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.1.0
attrs==22.1.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
black==22.3.0
bleach==5.0.0
blessed==1.19.1
blickfeld-scanner==2.20.5
cachetools==5.2.0
carla @ file://{$PATH TO CARLA WHEEL}/carla/PythonAPI/carla/dist/carla-0.9.13-cp38-cp38-linux_x86_64.whl
catkin-pkg==0.5.2
ccimport==0.4.2
certifi @ file:///croot/certifi_1690232220950/work/certifi
cffi==1.15.0
charset-normalizer==2.1.1
click==8.1.3
cmake==3.26.4
colcon-argcomplete==0.3.3
colcon-bash==0.4.2
colcon-cd==0.1.1
colcon-cmake==0.2.27
colcon-common-extensions==0.3.0
colcon-core==0.12.1
colcon-defaults==0.2.8
colcon-devtools==0.2.3
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.2.15
colcon-output==0.2.13
colcon-package-information==0.3.3
colcon-package-selection==0.2.10
colcon-parallel-executor==0.2.4
colcon-pkg-config==0.1.0
colcon-powershell==0.3.7
colcon-python-setup-py==0.2.8
colcon-recursive-crawl==0.2.1
colcon-ros==0.3.23
colcon-test-result==0.3.8
colcon-zsh==0.4.0
colorama==0.4.6
colorlog==6.7.0
colormap==1.0.4
commonmark==0.9.1
container-utils==0.0.1
contourpy==1.0.7
coverage==7.2.7
cryptography==38.0.4
cumm-cu117==0.4.10
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
distlib==0.3.7
distro==1.8.0
docker==6.0.1
docutils==0.19
easydev==0.12.0
entrypoints==0.4
envisage==7.0.3
exceptiongroup==1.1.2
executing==1.2.0
fastjsonschema==2.15.3
filelock==3.12.2
fire==0.5.0
fonttools==4.39.3
freetype-py==2.3.0
future==0.18.2
fuzzyfinder==2.1.0
google-auth==2.8.0
google-auth-oauthlib==0.4.6
gpustat==1.0.0
grpcio==1.46.3
h5py==3.7.0
humanfriendly==10.0
idna==3.4
ifaddr==0.2.0
imageio==2.19.2
importlib-metadata==4.11.4
importlib-resources==5.8.0
iniconfig==2.0.0
ipykernel==6.15.0
ipython==8.6.0
ipython-genutils==0.2.0
jaraco.classes==3.2.3
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.8
jsonschema==4.6.0
jupyter-client==7.3.4
jupyter-core==4.10.0
jupyter-packaging==0.12.2
jupyter-server==1.17.1
jupyterlab==3.4.3
jupyterlab-pygments==0.2.2
jupyterlab-server==2.14.0
keyring==23.11.0
kiwisolver==1.4.4
lark==1.1.5
lit==16.0.6
llvmlite==0.40.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.3
mayavi==4.8.1
mesh-to-sdf==0.0.14
mistune==0.8.4
more-itertools==9.0.0
mpmath==1.3.0
multipledispatch==0.6.0
mypy-extensions==0.4.3
nbclassic==0.3.7
nbclient==0.6.4
nbconvert==6.5.0
nest-asyncio==1.5.5
networkx==2.8
ninja==1.11.1
notebook==6.4.12
notebook-shim==0.1.0
notify2==0.3.1
numba==0.57.1
numpy==1.18.4
nvdu==1.0.0.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-ml-py==11.495.46
nvidia-nvtx-cu11==11.7.91
opencv-python==4.5.4.60
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pccm==0.4.8
pexpect==4.8.0
pickleshare==0.7.5
pkginfo==1.9.2
platformdirs==2.5.2
portalocker==2.7.0
prometheus-client==0.14.1
prompt-toolkit==3.0.33
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pybind11==2.11.0
pybullet==2.7.9
pycparser==2.21
pyface==8.0.0
pygame==2.1.2
pyglet==1.5.21
Pygments==2.12.0
pymodbus==2.5.3
pyparsing==3.0.9
pyrealsense2==2.49.0.3474
pyrender==0.1.45
pyrr==0.10.3
pyrsistent==0.18.1
pyserial==3.5
pytest==7.4.0
pytest-cov==4.1.0
pytest-repeat==0.9.1
pytest-rerunfailures==12.0
python-dateutil==2.8.2
pytorch-ignite==0.4.9
pytz==2022.6
PyWavefront==0.2.0
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==23.2.0
readme-renderer==37.3
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rfc3986==2.0.0
rich==12.6.0
rospkg==1.4.0
rsa==4.8
scikit-image==0.19.2
scikit-learn==1.1.1
SecretStorage==3.3.3
semver==2.13.0
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0
sniffio==1.2.0
soupsieve==2.3.2.post1
spconv-cu117==2.3.6
stack-data==0.6.1
sympy==1.12
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==2.1.1
terminado==0.15.0
threadpoolctl==3.1.0
tifffile==2022.5.4
tinycss2==1.1.1
tomli==2.0.1
tomlkit==0.11.0
torchaudio==0.8.1
torchvision==0.9.1+cu111
tornado==6.1
tqdm==4.64.0
traitlets==5.3.0
traits==6.4.1
traitsui==7.4.3
trimesh==3.14.0
triton==2.0.0
twine==4.0.2
ue4-docker==0.0.102
urllib3==1.26.13
vtk==9.2.6
watermark==2.4.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
websockets==10.2
zeroconf==0.32.0
zipp==3.8.0
